<div class="container">
  <select class="form-select mt-3" [(ngModel)]="selectedChampion">
    <option value="">Todos los campeones</option>
    <option *ngFor="let champion of champions" [value]="champion.name">
      {{ champion.name }}
    </option>
  </select>
  <div class="mt-1 row gy-3 row-cols-1 row-cols-sm-2 row-cols-xl-6">
    <div class="col">
      <input
        type="checkbox"
        class="btn-check"
        id="assassin"
        autocomplete="off"
        [checked]="selectedRoles.includes('Assassin')"
        (change)="toggleRole('Assassin')"
      />
      <label class="btn btn-outline-info rounded-pill" for="assassin"
        >Assassin</label
      >
    </div>
    <div class="col">
      <input
        type="checkbox"
        class="btn-check"
        id="fighter"
        autocomplete="off"
        [checked]="selectedRoles.includes('Fighter')"
        (change)="toggleRole('Fighter')"
      />
      <label class="btn btn-outline-info rounded-pill" for="fighter"
        >Fighter</label
      >
    </div>
    <div class="col">
      <input
        type="checkbox"
        class="btn-check"
        id="mage"
        autocomplete="off"
        [checked]="selectedRoles.includes('Mage')"
        (change)="toggleRole('Mage')"
      />
      <label class="btn btn-outline-info rounded-pill" for="mage">Mage</label>
    </div>
    <div class="col">
      <input
        type="checkbox"
        class="btn-check"
        id="marksman"
        autocomplete="off"
        [checked]="selectedRoles.includes('Marksman')"
        (change)="toggleRole('Marksman')"
      />
      <label class="btn btn-outline-info rounded-pill" for="marksman"
        >Marksman</label
      >
    </div>
    <div class="col">
      <input
        type="checkbox"
        class="btn-check"
        id="support"
        autocomplete="off"
        [checked]="selectedRoles.includes('Support')"
        (change)="toggleRole('Support')"
      />
      <label class="btn btn-outline-info rounded-pill" for="support"
        >Support</label
      >
    </div>
    <div class="col">
      <input
        type="checkbox"
        class="btn-check"
        id="tank"
        autocomplete="off"
        [checked]="selectedRoles.includes('Tank')"
        (change)="toggleRole('Tank')"
      />
      <label class="btn btn-outline-info rounded-pill" for="tank">Tank</label>
    </div>
  </div>

  <div
    class="row mt-0 gy-3 gy-sm-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 align-items-center justify-content-center"
  >
    <div *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="col" *ngFor="let champion of championsToShow">
      <app-champion-item [champion]="champion"></app-champion-item>
    </div>
  </div>
</div>
