<div class="container mt-5">
  <div *ngIf="loading" class="d-flex align-items-center justify-content-center h-100">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="champion && !loading">
    <div class="row gy-5">
      <div class="col-md-4">
        <img class="img-fluid" [src]="champion.splashart" />
      </div>
      <div class="col-md-6">
        <h1 class="text-white text-uppercase">{{ champion.name }}</h1>
        <div class="text-white">{{ champion.description }}</div>
        <a
          [href]="'https://u.gg/lol/champions/' + champion.name + '/build'"
          target="_blank"
          class="text-white"
          >U.GG</a
        >
      </div>
    </div>
    <h2 class="text-center text-white my-5" translate="champion.abilities"></h2>
    <div
      class="row gy-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center"
    >
      <div *ngFor="let hability of champion.abilities" class="col">
        <div class="text-center">
          <img
            class="img-fluid mb-3"
            [src]="hability.image"
            [alt]="hability.name"
          />
          <p class="text-white text-uppercase">{{ hability.name }}</p>
          <div class="text-white" [innerHTML]="hability.description"></div>
          <a
            *ngIf="hability.video"
            [href]="hability.video"
            data-fancybox="video-gallery"
            data-type="iframe"
            [attr.data-caption]="hability.name"
          >
            <button
              class="btn btn-primary mt-3"
              translate="button.show_video"
            ></button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
