{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if object.image != null %}
            <img
                src="{{ sonata_path(object.image, 'medium') }}"
                width="64"
                height="64"
                style="min-width: 50px"
            />
        {% else %}
            <span>No tiene imagen la habilidad</span>
        {% endif %}
    </div>
{% endblock %}
