<div>
    {% if image_label is defined and image_label is not empty %}
        {# <br> #}
        <label class="control-label preview-label">{{ image_label }}</label>
        <br>
    {% endif %}
    {% if image.name is not empty and display_name is defined and display_name%}
        {# <br> #}
        <label>{{ image.name }}</label>
        <br>
    {% endif %}
    <a href="#">
        <img
            id="image-selected-{{ id }}"
            src="{{ sonata_path(image, image_size) }}"
            class="admin-image-preview img-responsive w-auto"
            style="max-height: 476px"
        />
    </a>
</div>
